body {
    font-family: 'Fira Sans', sans-serif;
    margin: auto 160px;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    background-color: #F1F1F3;
}
button{
    font-family: 'Fira Sans', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav h3 {
    font-weight: bold;
    font-size: 24px;
}

nav button {
    border-width: 1px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    color:#006A50;
    /* font-family: 'Fira Sans', sans-serif; */
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding:  80px  100px;
    border-radius: 24px;
    margin-bottom: 30px;

}
.banner-title{
    font-size: 18px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-description{
    display: flex;
    max-width: 600px;
    font-weight: bold;
    font-size: 40px;
}
.banner-pic{
    width: 475px;
    height: 320px;
}
/* button-styles */
.green-clr{
    padding: 17px 34px;
    border-radius: 8px;
    
    border: none;
    font-weight: bold;
    color: white;
}
.green-bg{
    background-color: #006A50;
}
.bttn:hover{
    background-color: #f10a0af2;
    transform: scale(1.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.same-head{
    font-weight: bold;
    font-size: 30px;
}

.pillars-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    /* border-color: #0E0E0E;
    opacity: 15%; */
}
.pillars{
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    
}

.pillars-dsp{
    display: flex;
    gap: 10px;
    color: #0E0E0E;
    opacity: 70%;
    font-size: 13px;
    font-weight: normal;

}
.vision1{
    background-color: rgb(84, 144, 245, 0.2)
    /* opacity: 20%; */
}
.vision2{
    background-color: #C6E4D6;
}
.vision3{
    background-color: #F7EBCF;
}
.lrn1{
    background-color: #5490F5;
}
.lrn2{
    background-color: #09A15C
}
.lrn3{
    background-color: #FFC239;
}
.div-tag {
    position: relative;
}
.under{
    /* background-image: url('../assets/quote-bg.png'); */
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    
}
.recent-title{
    font-size: 25px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}
.satellite-pic{
    height: 350px;
    width: 400px;
    border-radius: 24px;
}
.recent{
    display: flex;

}
.recent-container{
    margin-left: 20px;;
}
.donate-msg{
    display: flex;
    max-width: 1100px;
    margin-bottom: 40px;
}
.donate-wall{
    justify-content: center;
    text-align: center;
    gap: 20px;
}


form{
    height: 50px;
      border-radius: 5px;
      background-color: white;
      display: block;
      max-width: 1000px;
      padding: 8px 20px;
      margin-bottom: 24px;
      border: none;

}
.subs{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding:  50px  80px;
    border-radius: 24px;
    margin: 20px;
}
.dnd-tk{
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    opacity: 80%;
    
}
.dnd-tk:hover{
    background-color: #C6E4D6;
    transform: scale(1.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.mula{
    width: 95%;
    border: none;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    display: block;
}
.dnd-btn{
    margin: 40px;
}
.nws{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.nws-txt{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

}
.alu{
    width: 450px;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px 0px 0px 8px;


}
.lst-bttn{
    padding: 17px 34px;
    border-radius: 0 8px 8px 0px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #006A50;
}
.lst-end{
    padding: 10px;
    gap: 20px;
    display: flex;
    margin-bottom: 40px;
}
hr{
    border: 1px solid #0E0E0E;
    width: 1000px;
    opacity: 20%;
    margin-bottom: 40px;
}
.together{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}