

body {
    font-family: 'Fira Sans', sans-serif;
    margin: auto 160px;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
}
button{
    font-family: 'Fira Sans', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav h3 {
    font-weight: bold;
    font-size: 24px;
}

nav button {
    border-width: 1px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    color:#006A50;
    /* font-family: 'Fira Sans', sans-serif; */
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding:  80px  100px;
    border-radius: 24px;

}
.banner-title{
    font-size: 18px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-description{
    display: flex;
    max-width: 600px;
    font-weight: bold;
    font-size: 40px;
}
.banner-pic{
    width: 475px;
    height: 320px;
}
/* button-styles */
.green-clr{
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    font-weight: bold;
    color: white;
    

}

